* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  /* background-color: green;  */
  --variableName: 24px;
  max-width: calc(1200px + 2 * var(--variableName));
  /* 너비가 1200px 이상 넘어갈때 background - color red으로 바뀜 */
  /* margin-left: auto;
        margin-right: auto; */
  /* -> body 에 입력한 내용들이 화면의 중앙으로 정렬이 된다 */
  /* margin: 0 auto; */
  margin-inline: auto;
  /* margin-right 와 margin-left 를 통합한 것. (추천) */
  /* padding: 0 24px; */
  /* padding-left: 24px;
        padding-right: 24px; */
  padding-inline: var(--variableName);
  /* padding-inline으로 값을 넣어주는 것 추천 body의 양끝 쪽 24px 에 green이 들어감 */
}
.wrapper {
  /* padding: 64px 0; */
  /* padding-top: 64px;
        padding-bottom: 64px;  */
  padding-block: 64px;
  /* padding-block을 해주면 위 아래 균등하게 64px로 padding 값을 넣어줄수 있음  */

  /* background-color: blue;  */
}
.nav .wrapper {
  /* nav 아래에 있는 wrapper 에 flex를 적용  */
  display: flex;
  justify-content: space-between;
  /* 같은 간격으로 배열이 됨  */
  padding-block: 12px;
  align-items: baseline;
}
.nav__menuWrapper1 {
  /* nav 밑에 nav__Wrapper 라는 아이를 display flex 를 적용시켜주고 나중에 gap을 넣어주기  */
  display: flex;
  gap: 36px;
  align-items: baseline;
}
/* __menuWrapper1 에 해당하는 얘는 숫자에 해당하는 얘들  */
.nav__menuWrapper2 {
  /* nav 밑에 nav__Wrapper 라는 아이를 display flex 를 적용시켜주고 나중에 gap을 넣어주기  */
  display: flex;
  gap: 12px;
  align-items: baseline;
}
.nav {
  background-color: black;
  color: white;
  font-weight: 700;
}
.button {
  background-color: slateblue;
  padding: 8px 16px;
  border-radius: 8px;
}
/* __menuWrapper2 에 해당하는 얘는 sign up,in 에 해당하는 얘들  */
/* gap 에 차이를 둘 수 있음  */
/* selector specificity (명시도:얼마나 구체적인 케이스를 이야기 하냐에 따라서 적용되는 우선순위가 달라짐) 
-> 어느정도로 상세히 적혀져 있느냐 (0,1,0) 중간 값이 높으면 높을수록 더 우선권을 가진다  */
